:root {
  --nc-transparent: rgba(255, 255, 255, 0);
  --nc-highlight-bg: rgba(var(--colors-primary-500), 0.02);
  --nc-highlight-border: rgba(var(--colors-primary-500), 0.4);
  --nc-disabled-bg: rgba(var(--colors-primary-900), 0.3);
  --nc-weekend-border: rgba(var(--colors-gray-500), 0.2);
  --nc-weekend-bg: rgba(var(--colors-gray-900), 0);
  --nc-event-border: rgba(var(--colors-primary-500), 0.4);
}

#nc-control {
  border: 0px #555 solid;
  position: relative;
  height: 3em;
}

#nc-control a.disabled {
  pointer-events: none;
  opacity: 0.2;
}

#nc-control > a, #nc-control > h1 {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#nc-control > a.left {
  left: 0;
  right: initial;
}

#nc-control > a.right {
  right: 0;
  left: initial;
}

#nc-control h1 span {
  cursor: pointer;
}

table.nova-calendar.noselect {
cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

table.nova-calendar th, table.nova-calendar td {
  width: 14.285% !important;
}

table.nova-calendar th {
  padding: 0.5em 1em;
  text-align: left;
}

table.nova-calendar th span {
  word-break: break-all;
}

table.nova-calendar td {
  padding: 0.2em;
  border-width: 1px;
}

table.nova-calendar td:not(.withinRange) {
  border: 0px;
/*  opacity: 0.3;*/
/*  background-color: var(--nc-disabled-bg);*/
}

table.nova-calendar td.weekend.withinRange {
/*  background-color: var(--nc-weekend-bg);*/
}

table.nova-calendar td > div {
  position: relative;
  min-height: 8em;
  padding: 0em;
  padding-top: 2.5em;
}

table.nova-calendar span.daylabel {
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 1em;
  height: 1em;
}

table.nova-calendar td.today ,table.nova-calendar td.weekend.today {
  background-color: var(--nc-highlight-bg);
  outline: solid 2px var(--nc-highlight-border);
  outline-offset: -2px;
}

table.nova-calendar td.today > div > span.daylabel {
  font-weight: bold;
  font-size: 14pt;
  margin-top: -0.2em;
}

table.nova-calendar td > div div.nc-event {
  position: relative;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  text-align: left;
  margin-bottom: 0.2em;
  border-bottom: 1px var(--nc-event-border) solid;
}

table.nova-calendar span.name {
  font-weight: bold;
}

table.nova-calendar span.time {
  display: block;
  font-size: 8pt;
  margin-left: 0.2em;
}

table.nova-calendar span.notes {
  display: block;
  font-size: 8pt;
}

table.nova-calendar div.nc-event > div.badges {
  display: inline-block;
  position: absolute;
  max-width: 50%;
  text-align: right;
  margin: 0;
  top: 0.2em;
  right: 0.2em;
}

table.nova-calendar div.nc-event > div.badges > span.badge {
  display: inline-block;
  border-top: 1px rgba(var(--colors-primary-500), 0.5) solid;
  font-size: 9pt;
  line-height: 12pt;
  min-width: 22px;
  text-align: center;
  border-radius: 40%;
  padding: 0.25em;
  margin-left: 2px;

}